*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;


}
header{
    font-size: 1.4em;
    text-align: center;
    background-color: #1f1ff1;
    color: antiquewhite;
}
h1{
    -webkit-text-stroke: 0.025em black;
}
a{
    color: antiquewhite;
    text-decoration: none;
    
    border-collapse: collapse;
    width: 23vw;
    display: inline-block;
    font-size: 0.8em;
}
nav{
    background-image: linear-gradient(to bottom,  #1f1ff1 80%, #6f6fff);
    

}
a:hover{
    font-size: 1.005em;
}
h2{
    margin: 3vw;
}
p{
    margin-left: 1vw;
}
.imagem{
    background-color: #3f3fff;
    width: 80vw;
    height: 40vw;
    margin: 30px auto;

}
footer{
    background-color: #1f1ff1;
    color: antiquewhite;
    font-size: 1.23em;
    text-align: center;
    
}